*,
*::before,
*::after {
  box-sizing: border-box;

body {
  margin: auto;
  width: 1280px;
  background-color: #1b2944;
  color: #fff;
  padding: 0 168px 0 168px ;
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style-type: none;
}
